.filterBox {
    width: 100%;
    padding: 30px;
    background: #262a37;
    border-radius: 70px;
}

.filterBox .input-search {
    width: 100%;
    background-color: #F7F7FF;
    border-radius: 50px;
    position: relative;
}

.filterBox .input-search input {
    width: 100%;
    border-radius: 50px;
    border: 0;
    background: transparent;
    font-family: var(--manrope-font-family);
    font-size: 30px;
    padding-left: 100px;
    color: #262a37;
    outline: none;
    letter-spacing: 1px;
}

.filterBox .input-search input::placeholder {
    color: #262a37;
    opacity: 1;
}

.filterBox .input-search input:-ms-input-placeholder {
    color: #fff;
}

.filterBox .input-search input::-ms-input-placeholder {
    color: #fff;
}

.filterBox .input-search span {
    display: block;
    width: 60px;
    padding-top: 10px;
    position: absolute;
    left: 32px;
    text-align: center;
    color: #262a37;
    font-size: 20px;
}

.categories-box {
    padding: 30px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.categories-box ul {
    width: 130%;
    padding: 0;
    margin: 0;
}

.categories-box ul li {
    display: inline-block;
    height: 35px;
}

.categories-box ul li a {
    background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 4px 18px;
    font-family: var(--manrope-font-family);
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    margin-right: 6px;
}

.categories-box ul li a:before {
    content: '+';
    display: inline-block;
    margin-right: 7px;
    width: 11.5px;
}

.categories-box ul li a:hover {
    background: var(--mainColor);
    color: #fff;
    border-bottom-left-radius: 10px;
}

.categories-box ul li a.selected {
    background: var(--mainColor);
    color: #fff;
    border-bottom-left-radius: 10px;
}

.categories-box ul li a.selected:before {
    content: '-';
}

.filter-countries-box {
    height: 460px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    direction: rtl;
}

.filter-countries-box::-webkit-scrollbar {
    width: 20px;
}

.filter-countries-box::-webkit-scrollbar-track {
    background: rgb(13, 13, 13);
    background: linear-gradient(90deg, rgba(13, 13, 13, 1) 40%, rgba(37, 37, 37, 1) 40%, rgba(37, 37, 37, 1) 57%, rgba(13, 13, 13, 1) 57%);
}

.filter-countries-box::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 3px solid #fff;
}

/*  */

.chaineShow::-webkit-scrollbar {
    width: 20px;
}

.chaineShow::-webkit-scrollbar-track {
    background: rgb(13, 13, 13);
    background: linear-gradient(90deg, rgba(13, 13, 13, 1) 40%, rgba(37, 37, 37, 1) 40%, rgba(37, 37, 37, 1) 57%, rgba(13, 13, 13, 1) 57%);
}

.chaineShow::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 3px solid #fff;
}

/*  */

.filter-countries-box .country {
    color: #fff;
    cursor: pointer;
    font-family: var(--manrope-font-family);
    font-size: 21px;
    padding: 10px 35px;
    direction: ltr;
}

.filter-countries-box .selected {
    background: linear-gradient(279.99deg, #9F5FF1 -1.19%, #FF54B0 50.96%, #FF9F5A 99.95%);
}

.row.box-data {
    margin-top: 30px;
    margin-bottom: 35px;
}

.chaineShow {
    border-left: 2px solid rgba(37, 37, 37, 1);
    padding: 0 30px;
    height: 460px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.chaineShow a {
    display: block;
    padding: 6px 10px;
    font-size: 16px;
    text-decoration: none;
    color: #b6b6b6;
    border-radius: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.chaineShow a:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #0d0d0d;
    position: absolute;
    right: 18px;
    top: 18px;
    display: none;
}

.chaineShow a:hover:after {
    display: block;
}

.chaineShow a:hover {
    background: #191919;
}

.chaineShow a.sign:after {
    display: block;
}

.chaineShow a.sign {
    background: linear-gradient(279.99deg, #9F5FF1 -1.19%, #FF54B0 50.96%, #FF9F5A 99.95%);
    color: white;
    font-weight: bold;
    margin: 10px 0;
}